@model employee.Models.Employee

<h1>Add Employee</h1>

<form asp-action="Create">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="name" type="text" class="form-control" />
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input asp-for="email" type="text" class="form-control" />
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Save">
    </div>
</form>

