@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Welcome to my Employee Directory Demo App. This app was created in order to demonstrate a baseline proficiency of building an ASP.NET MVC web application. It was built using the ASP.NET MVC Framework, Entity Framework,
    the MySql Database Mangagement System, and deployed using [name].</p>
    <p>The application allows the user to view a current list of employees, along with their email addresses. An admin can add new employees to the directory,
    or edit/delete existing employee information. Currently, all registered users will be given admin access for demonstrational purposes.  </p>
    <p>To begin using the app, please register a new account and log in, or log in using credentials:
    <div>Email: admin@gmail.com</div>
    <div>Password: Pass1234.</div></p>
    <p>After you have logged in, you will be able to view and modify the employee directory (accessible from the navbar).</p>
</div>

